.listing-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
  }
  
  .listing-heading {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .listing-location::before {
    content: url('/assets/location-pin.svg') / '';
  }
  
  .listing-location {
    font-size: 24pt;
    margin-bottom: 15px;
  }
  
  .listing-features > .section-heading {
    color: var(--secondary-color);
    font-size: 24pt;
    margin-bottom: 15px;
  }
  
  .listing-features {
    margin-bottom: 20px;
  }
  
  .listing-features li {
    font-size: 14pt;
  }
  
  .listing-facilities
  {
    margin-bottom: 20px;
  }

  .listing-facilities li {
    font-size: 14pt;
  }

  li {
    list-style-type: none;
  }
  
  .listing-apply .section-heading {
    font-size: 18pt;
    margin-bottom: 15px;
  }
  
  label, input {
    display: block;
  }
  label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
  }
  input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
  }
  @media (max-width: 1024px) {
    .listing-photo {
      width: 100%;
      height: 400px;
    }
  }

  .mat-mdc-chip-set {
    width: min-content;
    max-width: min-content;

  }

.mat-mdc-standard-chip.mat-mdc-chip-selected.mat-primary, .mat-mdc-standard-chip.mat-mdc-chip-highlighted.mat-primary {
  --mdc-chip-disabled-label-text-color: white;
  --mdc-chip-elevated-container-color: hsl(262, 52%, 47%, 100%);
  --mdc-chip-elevated-disabled-container-color: hsl(262, 52%, 47%, 100%);
  --mdc-chip-focus-state-layer-color: white;
  --mdc-chip-focus-state-layer-opacity: 1;
  --mdc-chip-with-icon-icon-color: white;
  // --mdc-chip-with-icon-disabled-icon-color: white;
  --mdc-chip-with-icon-selected-icon-color: white;
  --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: white;
  --mdc-chip-with-trailing-icon-trailing-icon-color: white;
}


::ng-deep .mat-mdc-standard-chip.mdc-evolution-chip--disabled {
  // background-color: #673ab7 !important; /* Ensure the background color is vibrant */
  // color: white !important;              /* Ensure the text color is white */
  opacity: 1 !important;                /* Ensure full opacity */
  // --mdc-chip-disabled-label-text-color: white !important;
  // --mdc-chip-elevated-disabled-container-color: #673ab7 !important;
  // --mdc-chip-with-icon-disabled-icon-color: white !important;
  // --mdc-chip-with-trailing-icon-disabled-trailing-icon-color: white !important;
}

.article-container { 

  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  margin: 1rem 0;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  
}
.article-details {
  // align-items: start;
  // flex-grow: 1;
  // width: auto;
  height: auto;
  white-space:nowrap;
  display: inline-block;
  vertical-align: top;
}

.photos-container {
  padding: 20px 0px;
  width: auto;
  height: 100%;
  justify-content: center; /* Center the buttons vertically */
  align-items: center; /* Center the buttons horizontally */
}

.carousel-photos {
  width: 20%;
}
.product-item-content { 
  border: 1px solid var(--surface-d); 
  border-radius: 3px; 
  // margin: 0.3rem; 
  text-align: center; 
  // padding: 1rem 0; 
}

.product-image { 
  max-height: 399px;
  height: 100%; 
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16),  
      0 3px 6px rgba(0, 0, 0, 0.23); 
}
p-carousel.p-element.photos {
  display: block;
  overflow: hidden;
  width: 50%;
}