.custom-toolbar {
    background-color: white; /* Set background color to white */
    color: black; /* Set text color to black */
    border-bottom: 1px solid #ddd;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    position: sticky;
    top: 0;
    z-index: 0;
    display: flex;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
    padding-bottom: 40px;
  }
  
  .separator-line {
    height: 1px; /* Increase the height to make the shadow more visible */
    background-color: #ddd;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5); /* Adjust the shadow to be more visible */
  }
  
  .sidenav-container {
    height: 100%;
    z-index: 4;
  }
  
  .sidenav {
    width: 250px;
  }
  
  .brand-logo {
    // margin-top: 40px;
    width: 110px; /* Adjust size as needed */
    // margin-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  a[mat-button] {
    margin-left: 10px;
  }

//   :host {
//     display: flex;
//     flex-direction: column;
//     min-height: 100vh;
//   }
  
//   main {
//     flex: 1; // Take up remaining space
//     padding-bottom: 60px; // Adjust to match the footer height
//   }
  