@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '../node_modules/@angular/material/core/theming/all-theme';
@import '../node_modules/@angular/material/core/color/all-color';

@import "https://fonts.googleapis.com/icon?family=Material+Icons&display=block";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
  }
  
  // body {
  //   font-family: 'Be Vietnam Pro', sans-serif;
  // }
  :root {
    --primary-color: #605DC8;
    --secondary-color: #8B89E6;
    --accent-color: #e8e7fa;
    --shadow-color: #E8E8E8;
    --mat-amber-500: #FFC107;
    --mat-amber-700: #FFA000;
  }
  
  .no-close {
    background: rgba(0, 0, 0, 0.4);
  }